{{#section "js"}}
  <script>
    $('.quantity').on('change', function(e){ const id = $(this).data('id');
    const quantity = $(this).val(); $('#txtProID').val(id);
    $("#txtQuantity").val(quantity); $('#frmAddItem').submit(); });
  </script>
  <script>
    $(".delBtn").on("click", function (e) {const id = $(this).data('id');
    $('.delItem').on('click', function(e){ $('#txtDelProID').val(id);
    $('#frmDelItem').submit(); })});
  </script>
{{/section}}
<section class="cart container">
  <div class="row">
    <div class="col-md-8 cart-detail">
      <h4>Giỏ hàng</h4>
      {{#if this.empty}}
        <h5 class="card-title"> Không có dữ liệu</h5>
      {{/if}}
      <form action="/cart/update" method="post" id="frmAddItem">
        <input type="hidden" name="id" id="txtProID" />
        <input type="hidden" name="quantity" id="txtQuantity" />
      </form>
      <form action="/cart/del" method="post" id="frmDelItem">
        <input type="hidden" id="txtDelProID" name="id" />
      </form>
      {{#each this.items}}
        {{! 1 item }}
        <div class="card mb-3 w-100" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <a href="/books/detail/{{book.id}}">
                <img height="200px" src="{{book.id}}.jpg" alt="..." /></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title book-title">{{book.TenSach}}</h5>
                <p class="card-text">Giá: {{format_price book.GiaSach}} VNĐ</p>
                <div class="row">
                  <p class="card-text col-lg-4">Số lượng</p>
                  <div class="col mb-2">
                    <input
                      type="number"
                      class="form-control form-control-sm quantity"
                      id=""
                      data-id="{{book.id}}"
                      min="1"
                      value="{{quantity}}"
                    />
                  </div>
                </div>
                <div class="total-price">
                  <p class="card-text">Tổng: {{format_price amount}} VNĐ</p>

                </div>
              </div>
            </div>

          </div>
          <div class="delete-btn">
            <button
              class="btn btn-danger delBtn"
              data-toggle="modal"
              data-target="#deleteBookCart"
              data-id="{{book.id}}"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      {{/each}}

    </div>
    <div class="col-md-4 purchase-col">
      <h4>Thành tiền</h4>
      <h4 class="price my-3">{{format_price totalPrice}} VNĐ</h4>

      <a
        name=""
        id=""
        class="btn btn-success w-100 purchase-btn {{#if this.empty}}
          disabled
        {{/if}} "
        href="/purchase"
        role="button"
      >THANH TOÁN </a>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade confirm-cart"
  id="deleteBookCart"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>Xóa sản phẩm này ra khỏi giỏ hàng?</p>

      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
        <button
          type="button"
          class="btn btn-primary add-btn delItem"
        >Xóa</button>
      </div>
    </div>
  </div>
</div>