<section class="cart container history" style="height:100vh">
  <h4>Lịch sử đơn hàng</h4>

  {{! 1 item }}
  <div>  {{#if list}}
    <table class="table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">Mã đơn hàng</th>
          <th scope="col">Ngày mua</th>
          <th scope="col">Tổng tiền</th>
          <th scope="col">Xem chi tiết</th>
        </tr>
      </thead>
      <tbody>
      
          {{#each list }}
            <tr>
          <th scope="row">{{id}}</th>
          <td>{{formatDate ThoiDiemDatHang}}</td>
          <td>{{format_price TongTien}} VNĐ</td>
          <td><a
              name=""
              id=""
              class="btn btn-outline-success"
              href="/order/{{id}}"
              role="button"
            ><i class="fa fa-eye" aria-hidden="true"></i></a></td>
        </tr>          
        {{/each}}
        {{else}}
          <tr>Chưa có đơn hàng</tr>
        {{/if}}
        
      </tbody>
    </table>

  </div>

</section>