<section class="cart container order">
  <a class="back" href="/history">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Quay lại lịch sử đơn hàng
  </a>
  <div class="row mt-4">
    <div class="col-md-8 cart-detail">
      <h4>Chi tiết đơn hàng</h4>
      {{#if list}}
        {{#each list }}
        <div class="card mb-3 w-100" style="max-width: 540px;">
        <a href="/books/detail/{{id}}">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img class="w-100" src="/{{id}}.jpg" alt="..." />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title book-title">{{TenSach}}</h5>
                <p class="card-text">Giá: {{format_price GiaSach}} VNĐ</p>
                <p class="card-text">Số lượng: {{SoLuong}} </p>

                <div class="total-price">
                  <p class="card-text">Tổng: {{format_price Tong}} VNĐ</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
      {{else}}
        <div>Không có dữ liệu</div>
      {{/if}}
      
    </div>
    <div class="col-md-4 purchase-col">
      <h4>Thành tiền</h4>
      
      {{#if extra}}
        <div>Phí vận chuyển: </div>
        <h5><strong>15,000 VNĐ</strong></h5>
          
      {{/if}}
    <div>Tổng cộng:</div>
       <h4 class="price my-3"> {{format_price TongTien}} VNĐ</h4>

    </div>
  </div>
</section>