{{#section "js"}}
  <script>
    $('#frmUpdatePw').on('submit', function (e) { e.preventDefault(); const
    oldPw = $('#oldPw').val(); const newPw = $('#newPw').val(); const confirm =
    $('#confirm').val(); if (confirm !== newPw) { alert("Mật khẩu nhập lại sai"); return; } $('#frmUpdatePassword').off('submit').submit(); }); });
  </script>
{{/section}}
{{#if mes}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{mes}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}
{{#if err}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{err}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}
<div class="profile" style="height: 100vh;">
  <h4>Thay đổi mật khẩu</h4>

  <form id="frmUpdatePw" method="post" action="/password" class="mt-4">
    <div class="form-group row">
      <label for="oldPw" class="col-sm-2 col-form-label">Mật khẩu cũ</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="oldPw"
          name="oldPw"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="newPw" class="col-sm-2 col-form-label">Mật khẩu mới</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="newPw"
          name="newPw"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="confirm" class="col-sm-2 col-form-label">Xác nhận mật khẩu mới</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="confirm"
          name="confirm"
          required
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12 update-btn">
        <button type="submit" class="btn btn-outline-primary">CẬP NHẬT</button>
      </div>
    </div>
  </form>
</div>