{{#section "js"}}
  <script>
    $('#btnEdit').on('click', function (e){ alert("Cập nhật thông tin cá nhân thành công"); $("#frmProfile").off('submit').submit(); } )
  </script>

{{/section}}
<div class="profile" style="height: 100vh;">
  <h4>Thông tin cá nhân</h4>

    {{#if mes}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{mes}}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/if}}
    {{#if err}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{err}}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/if}}
  <form class="mt-4" method="post" id="frmProfile" action="/profile">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          type="email"
          name = "Email"
          class="form-control"
          id="inputEmail3"
          value="{{authUser.Email}}"
          disabled
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Loại tài khoản</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputPassword3"
          value="{{displayRole authUser.Loai}}"
          disabled
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Họ tên</label>
      <div class="col-sm-10">
        <input
          type="text"
          name = "HoTen"
          class="form-control"
          id="inputPassword3"
          value="{{authUser.HoTen}}"
            required 
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Số điện thoại</label>
      <div class="col-sm-10">
        <input
          type="phone"
          name = "SDT"
          class="form-control"
          id="inputPassword3"
          value="{{authUser.SDT}}"
            required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Địa chỉ</label>
      <div class="col-sm-10">
          <input
            type="text"
            name="DiaChi"
            class="form-control"
            placeholder="Địa chỉ"
            value="{{authUser.DiaChi}}"
              required
          />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12 update-btn">
        <button id="btnEdit" class="btn btn-outline-primary">CẬP NHẬT</button>
      </div>
    </div>
  </form>
</div>