<footer class="container-fluid">
  <div class="row">
    <div class="col-md-4 footer-logo">
      <img src="/logo.png" width="160px" height="40px" alt="LOGO" />
    </div>
    <div class="col-md-4">
      <p class="contact">LIÊN HỆ</p>
      <div>
        <p>Nhà sách FAHAHA</p>
        <p>Email: fahaha@gmail.com</p>
        <p>SĐT: 0987654321</p>
      </div>
    </div>
    <div class="col-md-4 footer-media">
      <p class="contact">MẠNG XÃ HỘI</p>
      <div>
        <button type="button" class="btn btn-primary"><i
            class="fa fa-facebook fa-lg"
            aria-hidden="true"
          ></i></button>
        <button type="button" class="btn btn-warning">
          <i class="fa fa-instagram fa-lg" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-danger"><i
            class="fa fa-youtube fa-lg"
            aria-hidden="true"
          ></i></button>

      </div>
    </div>
  </div>
</footer>