<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/"><img src="/logo.png" width="160px" height="40px" alt="LOGO" />
  </a>

  <ul class="navbar-nav mr-auto category">

    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        Thể loại
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {{#each categories}}
          <a
            class="dropdown-item"
            href="/books/category/{{id}}"
          >{{TenTheLoai}}</a>
        {{/each}}
      </div>
    </li>

  </ul>
  <form class="form-inline my-2 my-lg-0 form-search" action="/books/search">
    <select
      id="filterSearch"
      name="filterSearch"
      class="rounded mr-5 bg-white flex items-center pl-4 pr-2 border border-cyan-700"
    >
      <option value="0" selected="selected">Tất cả</option>
      {{#each categories}}
        <option value="{{id}}">{{TenTheLoai}}</option>
      {{/each}}
    </select>
    <input
      class="form-control mr-sm-2"
      type="search"
      name="searchInput"
      placeholder="Tìm kiếm"
      aria-label="Search"
    />
    <button
      class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2"
      type="submit"
    ><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
  {{#if (isUser authUser.Loai)}}
    <a
      name=""
      id=""
      class="btn btn-outline-primary cart-btn"
      href="/cart"
      role="button"
    ><i class="fa fa-cart-plus fa-lg"></i></a>
  {{/if}}

  {{#if authUser}}

    <div class="avatar">
      <div class="mx-3">{{authUser.HoTen}}</div>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropleft">
            <a
              class="nav-link"
              href="#"
              id="navbarDropdown2"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="/profile">Thông tin cá nhân</a>
              <a class="dropdown-item" href="/password">Mật khẩu</a>
              {{#if (isUser authUser.Loai)}}
                <a class="dropdown-item" href="/cart">Giỏ hàng</a>
                <a class="dropdown-item" href="/history">Đơn hàng đã mua</a>
              {{/if}}

              {{#if (notUser authUser.Loai)}}
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="/management">Quản lý sách</a>

                {{#if (isAdmin authUser.Loai)}}
                  <a class="dropdown-item" href="/management/category">Quản lý
                    thể loại</a>
                  <a class="dropdown-item" href="/management/publisher">Quản lý
                    nhà xuất bản</a>
                  <a class="dropdown-item" href="/management/user">Quản lý tài
                    khoản</a>
                {{/if}}

                <a class="dropdown-item" href="/management/statistic">Thống kê
                  kho sách</a>
                <a class="dropdown-item" href="/management/order">Thống kê đơn
                  đặt hàng</a>
              {{/if}}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Đăng xuất</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse account-responsive" id="navbarSupportedContent">
      {{! responsive  }}
      <a
        name=""
        id=""
        class="btn btn-outline-secondary w-100 menu-btn menu-responsive-btn"
        href="/profile"
        role="button"
      >
        <i class="fa fa-user" aria-hidden="true"></i>
        Thông tin cá nhân

      </a>
      <a
        name=""
        id=""
        class="btn btn-outline-secondary w-100 menu-btn menu-responsive-btn"
        href="/password"
        role="button"
      >
        <i class="fa fa-key" aria-hidden="true"></i>
        Mật khẩu

      </a>
      {{#if (isUser authUser.Loai)}}
        <a
          name=""
          id=""
          class="btn btn-outline-secondary w-100 menu-btn menu-responsive-btn"
          href="/cart"
          role="button"
        >
          <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
          Giỏ hàng của tôi

        </a>
        <a
          name=""
          id=""
          class="btn btn-outline-secondary w-100 menu-btn menu-responsive-btn"
          href="/history"
          role="button"
        >
          <i class="fa fa-file" aria-hidden="true"></i>
          Lịch sử đơn hàng

        </a>
      {{/if}}

      <div class="dropdown-divider"></div>
      {{#if (isUser authUser.Loai)}}{{else}}
        <a
          name=""
          id=""
          class="btn btn-outline-secondary w-100 menu-btn menu-responsive-btn"
          href="/management"
          role="button"
        >
          <i class="fa fa-book" aria-hidden="true"></i>
          Quản lý sách

        </a>
        <a
          name=""
          id=""
          class="btn btn-outline-secondary w-100 menu-btn menu-responsive-btn"
          href="/management/statistic"
          role="button"
        >
          <i class="fa fa-book" aria-hidden="true"></i>
          Thống kê kho sách

        </a>
        <a
          name=""
          id=""
          class="btn btn-outline-secondary w-100 menu-btn menu-responsive-btn"
          href="/management/order"
          role="button"
        >
          <i class="fa fa-list-ul" aria-hidden="true"></i>
          Thống kê đơn đặt hàng

        </a>
      {{/if}}

      {{#if (isAdmin authUser.Loai)}}
        <a
          name=""
          id=""
          class="btn btn-outline-secondary w-100 menu-btn menu-responsive-btn"
          href="/management/category"
          role="button"
        >
          <i class="fa fa-list" aria-hidden="true"></i>
          Quản lý thể loại

        </a>
        <a
          name=""
          id=""
          class="btn btn-outline-secondary w-100 menu-btn menu-responsive-btn"
          href="/management/publisher"
          role="button"
        >
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          Quản lý nhà xuất bản

        </a>
        <a
          name=""
          id=""
          class="btn btn-outline-secondary w-100 menu-btn menu-responsive-btn"
          href="/management/user"
          role="button"
        >
          <i class="fa fa-user-secret" aria-hidden="true"></i>
          Quản lý tài khoản

        </a>
      {{/if}}
      <div class="dropdown-divider"></div>

      <a
        class="btn btn-outline-secondary w-100 menu-btn menu-responsive-btn"
        href="#"
      ><i class="fa fa-sign-out" aria-hidden="true"></i>
        Đăng xuất</a>

    </div>
  {{else}}
    <div>
      <a class="btn btn-outline me-2 signupBtn" href="/login" role="button">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        Login
      </a>
      <a class="btn btn-outline me-2 signupBtn" href="/register" role="button">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        Register
      </a>
    </div>

  {{/if}}
</nav>