<div class="menu">
  <a
    name=""
    id=""
    class="btn btn-outline-secondary w-100 menu-btn"
    href="/profile"
    role="button"
  >
    <i class="fa fa-user" aria-hidden="true"></i>
    <span>Thông tin cá nhân</span>

  </a>
  <a
    name=""
    id=""
    class="btn btn-outline-secondary w-100 menu-btn"
    href="/password"
    role="button"
  >
    <i class="fa fa-key" aria-hidden="true"></i>
    <span>Mật khẩu</span>

  </a>
  {{#if (isUser authUser.Loai)}}
    <a
      name=""
      id=""
      class="btn btn-outline-secondary w-100 menu-btn"
      href="/cart"
      role="button"
    >
      <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
      <span> Giỏ hàng của tôi</span>

    </a>
    <a
      name=""
      id=""
      class="btn btn-outline-secondary w-100 menu-btn"
      href="/history"
      role="button"
    >
      <i class="fa fa-file" aria-hidden="true"></i>
      <span>Lịch sử đơn hàng</span>

    </a>
  {{/if}}

  {{#if (isUser authUser.Loai)}}{{else}}
    <a
      name=""
      id=""
      class="btn btn-outline-secondary w-100 menu-btn"
      href="/management"
      role="button"
    >
      <i class="fa fa-book" aria-hidden="true"></i>
      <span>Quản lý sách</span>

    </a>
  {{/if}}

  {{#if (isAdmin authUser.Loai)}}
    <a
      name=""
      id=""
      class="btn btn-outline-secondary w-100 menu-btn"
      href="/management/category"
      role="button"
    >
      <i class="fa fa-list" aria-hidden="true"></i>
      <span>Quản lý thể loại</span>

    </a>
    <a
      name=""
      id=""
      class="btn btn-outline-secondary w-100 menu-btn"
      href="/management/publisher"
      role="button"
    >
      <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      <span>Quản lý nhà xuất bản</span>

    </a>
    <a
      name=""
      id=""
      class="btn btn-outline-secondary w-100 menu-btn"
      href="/management/user"
      role="button"
    >
      <i class="fa fa-user-secret" aria-hidden="true"></i>
      <span>Quản lý tài khoản</span>

    </a>
  {{/if}}
  {{#if (isUser authUser.Loai)}}{{else}}
    <a
      name=""
      id=""
      class="btn btn-outline-secondary w-100 menu-btn"
      href="/management/statistic"
      role="button"
    >
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <span>Thống kê kho sách</span>

    </a>
    <a
      name=""
      id=""
      class="btn btn-outline-secondary w-100 menu-btn"
      href="/management/order"
      role="button"
    >
      <i class="fa fa-list-ul" aria-hidden="true"></i>
      <span>Thống kê đơn đặt hàng</span>

    </a>
  {{/if}}

</div>