<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="/detail.css" />
    <link rel="stylesheet" href="/login.css" />
    <link rel="stylesheet" href="/footer.css" />
    <link rel="stylesheet" href="/cart.css" />
    <link rel="stylesheet" href="/purchase.css" />
    <link rel="stylesheet" href="/menu.css" />
    <link rel="stylesheet" href="/account.css" />
    <link rel="stylesheet" href="/profile.css" />
    <link rel="stylesheet" href="/history.css" />
    <link rel="stylesheet" href="/order.css" />
    <link rel="stylesheet" href="/admin.css" />
    {{{_sections.css}}}
  </head>
  <body style="">
    {{> header}}
    <div class="container-fluid">
      <div class="row my-3">
        <div class="col-2 col-md-3 menu-border">{{>menu}}</div>
        <div class="col-10 col-md-9"> {{{body}}}</div>
      </div>
    </div>
   
    {{> footer}}
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
      integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
      crossorigin="anonymous"
    ></script>
    {{{_sections.js}}}
  </body>
</html>