{{#section "js"}}
  <script>
    $('#addToCart').on('click', function (e){ const quantity =
    $("#soluong").val(); $('#txtQuantity').val(quantity);
    $('#frmAddItem').submit(); })
  </script>

{{/section}}
<form action="/cart/add" method="post" id="frmAddItem">
  <input type="hidden" name="id" id="txtProID" value="{{book.id}}" />
  <input type="hidden" name="quantity" id="txtQuantity" value="1" />
</form>
<div class="detail-body">
  <div class="px-3 py-2 detail-nav">
    <a href="/">
      <i class="fa fa-home" aria-hidden="true"></i>
      TRANG CHỦ
    </a>
    >
    <a href="/books/category/{{catId}}">{{cat}}</a>
    >
    <a href="">{{book.TenSach}}</a>
  </div>

  <div class="detail-book">
    <div class="container mb-5">
      <div class="row">
        <div class="col-sm-12 col-md-5 object-fit: cover">
          <div class="">
            <img class="w-100" src="/{{book.id}}.jpg" alt="ảnh minh họa" />
          </div>

          {{#if (isUser authUser.Loai)}}
            <div class="btn-add">
              <a
                name=""
                class="btn btn-primary"
                href="#"
                role="button"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                <i class="fa fa-plus"></i>
                Thêm vào giỏ hàng
              </a>
            </div>
          {{/if}}

          {{#if auth}}{{else}}
            <div class="btn-add">
              <a
                name=""
                class="btn btn-primary"
                href="#"
                role="button"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                <i class="fa fa-plus"></i>
                Thêm vào giỏ hàng
              </a>
            </div>
          {{/if}}

        </div>
        <div class="col-sm-12 col-md-7">
          <h3 class="title my-4">{{book.TenSach}}</h3>
          <div class="book-info">
            <div class="row">
              <div class="col-6">Tác giả</div>
              <div class="col-6 info">{{book.TenTacGia}}</div>
            </div>
            <div class="row">
              <div class="col-6">Nhà xuất bản</div>
              <div class="col-6 info">{{book.TenNXB}}</div>
            </div>
            <div class="row">
              <div class="col-6">Năm xuất bản</div>
              <div class="col-6 info">{{book.NamXB}}</div>
            </div>
            <div class="row">
              <div class="col-6">Kích thước</div>
              <div class="col-6 info">{{book.KichThuoc}}</div>
            </div>
            <div class="row">
              <div class="col-6">Trọng lượng</div>
              <div class="col-6 info">{{book.TrongLuong}}</div>
            </div>
            <div class="row">
              <div class="col-6">Số trang</div>
              <div class="col-6 info">{{book.SoTrang}}</div>
            </div>
            <div class="row mt-4">
              <h2 class="col-4">Giá: </h2>
              <h2 class="text-danger col-8">{{format_price book.GiaSach}}
                VNĐ</h2>
            </div>
          </div>
          <div class="quantity mt-4">
            <span>Số lượng</span>
            <input
              class="mx-4 text-center"
              type="number"
              id="soluong"
              min="1"
              value="1"
            />
          </div>
          <div class="remaining mt-3">
            Kho còn:
            {{book.SoLuongTon}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="book-desc">
    <h6 class="desc px-4 py-2">Giới thiệu</h6>
    <div class="container">
      {{{book.MoTa}}}
    </div>
  </div>

</div>

<!-- Modal -->
<div
  class="modal fade confirm-cart"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>Xác nhận thêm vào giỏ hàng</p>

      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
        <button
          type="button"
          id="addToCart"
          class="btn btn-primary add-btn"
        >Thêm</button>
      </div>
    </div>
  </div>
</div>