{{#section "js"}}
  <script>
    $('.book-add').on('click', function (e){
    const id = $(this).data('id'); 
     $('#addItem').on('click', function(e){
    $('#txtProID').val(id); $('#frmAddItem').submit(); });
    })
  </script>

{{/section}}
<div class="px-3 py-2 detail-nav">
  <a href="/">
    <i class="fa fa-home" aria-hidden="true"></i>
    TRANG CHỦ
  </a>

</div>
<div class="container homepage category">
  <form method="GET">
    <div class="d-flex justify-content-between">
      <h4 class="title">Tất cả</h4>
      <select class="form-select" onchange="location = this.value;">
            <option value="/" {{#if sortTime}}selected{{/if}}>Sắp xếp theo thời gian</option>
            <option value="/sortPrice"  {{#if sortPrice}}selected{{/if}}>Sắp xếp theo giá</option>
      </select>
    </div>
  </form>
  <div class="card-body">

    {{#if this.empty}}
      <h5 class="card-title"> Không có dữ liệu</h5>
    {{else}}
      <div class="row">
        <form action="/cart/add" method="post" id="frmAddItem">
          <input type="hidden" name="id" id="txtProID" />
          <input type="hidden" name="quantity" value="1" />
        </form>
        {{#each this.books}}

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card book-item text-center h-100">
              <div class="item-cover-line h-100">
                <a href="/books/detail/{{id}}">
                  <div class="book-img object-fit: cover">
                    <img src="{{id}}.jpg" class="card-img-top" alt="..." />

                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{format_name TenSach}}</h5>
                    <h5 class="card-text price">{{format_price GiaSach}} VNĐ</h5>
                    <h5 class="book-category mr-3">{{TenTheLoai}}</h5>

                  </div>
                </a>
                {{#if (isUser ../authUser.Loai)}}
                <button class="book-add bg-light" data-id="{{id}}"><i
                    class="fa fa-cart-plus fa-lg"
                    aria-hidden="true"
                    data-toggle="modal"
                    data-target="#exampleModal" 
                  ></i></button>
                {{/if}}
                
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      <nav class="pagination-nav" aria-label="...">
        <ul class="pagination">
          {{#if can_go_prev}}
            <li class="page-item">
              <a
                class="page-link"
                href="?page={{previous}}"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {{/if}}

          {{#each this.pageNumbers}}
            {{#if isCurrent}}
              <li class="page-item active"><a
                  class="page-link"
                  href="javascrip:;"
                >{{value}}</a></li>
            {{else}}
              <li class="page-item"><a
                  class="page-link"
                  href="?page={{value}}"
                >{{value}}</a></li>
            {{/if}}

          {{/each}}
          {{#if can_go_next}}
            <li class="page-item">
              <a
                id="btnNext"
                class="page-link"
                href="?page={{next}}"
                aria-label="Next"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {{/if}}

        </ul>
      </nav>
    {{/if}}

  </div>

</div>

<!-- Modal -->
 <div
  class="modal fade confirm-cart"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>Xác nhận thêm vào giỏ hàng</p>

      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
        <button
          type="button"
          id="addItem"
          class="btn btn-primary add-btn"
        >Thêm</button>
      </div>
    </div>
  </div>
</div> 