<div class="login">
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-sm-4">
        <form id= "frmLogin" method="post" class="">
            {{#if err_message}}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">

        {{err_message}}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}
          <div class="form-group">
            <input
              type="email"
              name = "Email"
              class="form-control"
              id="txtEmail"
              aria-describedby="emailHelp"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <input
              name="password"
              type="password"
              class="form-control"
              id="txtPassword"
              placeholder="Mật khẩu"
            />
          </div>
           <div class="g-recaptcha d-flex justify-content-center" data-sitekey="6LeOKdsdAAAAAO1tRxxSCIoufTKvDLRmuC8Cq7BL"></div>
           <div>
          <button type="submit" class="btn btn-primary w-100 mt-4" >Đăng nhập</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>