<section class="purchase">
  <div class="px-3 py-2 detail-nav">
    <a href="/cart">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Quay lại giỏ hàng
    </a>
    <div class="container">
      <form method="post" action="/purchase">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Họ tên</label>
            <input type="text" class="form-control" id="inputEmail4" 
              value="{{authUser.HoTen}}"
                name="recvName"
              required />
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Số điện thoại</label>
            <input
              type="phone"
              value="{{authUser.SDT}}"
              class="form-control"
              id="inputPassword4"
                name="recvPhone"
              required
            />
          </div>
        </div>
       <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputCity">Địa chỉ nhận hàng</label>
            <input type="text" class="form-control" id="inputCity" required 
            value="{{authUser.DiaChi}}"
              name="recvAddress"/>
          </div>
        </div>
        
        <div class="form-row">
          <label for="transportType">Phương thức giao hàng</label>
          <div id="transportType" class="col-sm-12">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="transportType" id="exampleRadios1" value="1" checked>
            <label class="form-check-label" for="exampleRadios1">
                <i class="fa fa-truck" aria-hidden="true"></i>
                Giao hàng thường
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="transportType" id="exampleRadios2" value="2">
            <label class="form-check-label" for="exampleRadios2">
             <i class="fa fa-rocket" aria-hidden="true"></i>
             Giao hàng hỏa tốc (+15,000 VNĐ)
            </label>
          </div>

          </div>
        </div>
        
        <div class="form-row">
          <label for="payType">Phương thức thanh toán</label>
          <div id="payType" class="col-sm-12">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="payType" id="exampleRadios1" value="1" checked>
            <label class="form-check-label" for="exampleRadios1">
                <i class="fa fa-money" aria-hidden="true"></i>
                Thanh toán bằng tiền mặt khi nhận hàng
      
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="payType" id="exampleRadios2" value="2">
            <label class="form-check-label" for="exampleRadios2">
              <i class="fa fa-credit-card" aria-hidden="true"></i>
                    Visa/MasterCard
            </label>
          </div>

          </div>
        </div>

        <div class="form-group row my-5">
          <div class="col-sm-10">
            <button
              type="submit"
              class="btn btn-primary confirm-purchase-btn"
            >XÁC NHẬN THANH TOÁN</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</section>