

<div class="login">
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-sm-4">
        <form id= "frmRegister"  method="post" class="form">
       {{#if err_message}}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Đăng ký thất bại!</strong>
        {{err_message}}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}
          <div class="form-group">
            <input
              type="email"
              name = "Email"
              class="form-control"
              id="txtEmail"
              aria-describedby="emailHelp"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <input
              name = "HoTen"
              class="form-control"
              id="txtName"
              placeholder="Họ và tên"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name = "password"
              class="form-control"
              id="txtPassword"
              placeholder="Mật khẩu"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name = "confirm"
              class="form-control"
              id="txtConfirm"
              placeholder="Xác nhận mật khẩu"
            />
          </div>
          <div class="form-group">
            <input
              type="phone"
              name= "SDT"
              class="form-control"
              id="phone"
              aria-describedby="emailHelp"
              placeholder="Số điện thoại"
            />
          </div>
          <div class="form-group">
            <input
              type="city"
              name= "city"
              class="form-control"
              id="txtCity"
              aria-describedby="emailHelp"
              placeholder="Tỉnh/Thành phố"
            /></div>
          <div class="form-group">
            <input
              type="district"
              name = "district"
              class="form-control"
              id="txtDistrict"
              aria-describedby="emailHelp"
              placeholder="Quận/Huyện"
            /></div>
          <div class="form-group">
            <input
              type="street"
              name = "street"
              class="form-control"
              id="txtStreet"
              aria-describedby="emailHelp"
              placeholder="Địa chỉ"
            />
          </div>
                <br>
        <div class="g-recaptcha d-flex justify-content-center" data-sitekey="6LeOKdsdAAAAAO1tRxxSCIoufTKvDLRmuC8Cq7BL"></div>
        <div>
          <button type="submit" class="btn btn-primary w-100 mt-4" href="javascript:$('#frmRegister').submit();">Đăng ký</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>