$primary: #009eb4;
$dark-primary: #0e7490;
$grey: #a1a1a1;
$light-grey: #dfdfdf;
$dark-red: #ba0000;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile {
  @media (max-width: #{$mobile -width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.pagination-nav {
  border: 0;
  .pagination {
    justify-content: right;
    .page-link {
      border: 0;
      color: $grey;
      font-size: 18px;
    }
    .active .page-link {
      color: $dark-primary;
      font-weight: 700;
      background-color: transparent;
    }
  }
}
