$primary: #009eb4;
$dark-primary: #0e7490;
$grey: #a1a1a1;
$light-grey: #dfdfdf;
$dark-red: #ba0000;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile {
  @media (max-width: #{$mobile -width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.cart {
  position: relative;
  // height: 100vh;
  // @include tablet() {
  //   height: auto;
  // }
  .cart-detail {
    border-right: 1px solid $light-grey;
    height: 100vh;
    overflow: scroll;
  }
  .title {
    font-weight: 700;
    color: $primary;
    font-size: 20px;
  }
  .book-title {
    font-weight: 700;
    color: $primary;
  }
  .total-price p {
    font-weight: 700;
    color: $dark-red;
  }
  .delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }
  .purchase-col {
    p {
      font-size: 30px;
    }
    .purchase-btn {
      font-weight: 600;
      background-color: $primary;
      &:hover {
        background-color: $dark-primary;
        transition: all 0.3s;
      }
    }
    .price {
      font-weight: 600;
      color: $dark-red;
    }
  }
}
