.cart {
  position: relative;
}

.cart .cart-detail {
  border-right: 1px solid #dfdfdf;
  height: 100vh;
  overflow: scroll;
}

.cart .title {
  font-weight: 700;
  color: #009eb4;
  font-size: 20px;
}

.cart .book-title {
  font-weight: 700;
  color: #009eb4;
}

.cart .total-price p {
  font-weight: 700;
  color: #ba0000;
}

.cart .delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.cart .purchase-col p {
  font-size: 30px;
}

.cart .purchase-col .purchase-btn {
  font-weight: 600;
  background-color: #009eb4;
}

.cart .purchase-col .purchase-btn:hover {
  background-color: #0e7490;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cart .purchase-col .price {
  font-weight: 600;
  color: #ba0000;
}
/*# sourceMappingURL=cart.css.map */