.category .pagination-nav {
  border: 0;
}

.category .pagination-nav .pagination {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.category .pagination-nav .pagination .page-link {
  border: 0;
  color: #a1a1a1;
  font-size: 18px;
}

.category .pagination-nav .pagination .active .page-link {
  color: #0e7490;
  font-weight: 700;
  background-color: transparent;
}
/*# sourceMappingURL=category.css.map */