.detail-body {
  min-height: 100vh;
}

.detail-nav a {
  color: #0e7490;
}

.detail-nav a:hover {
  color: #a1a1a1;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  text-decoration: none;
}

.detail-book {
  border-bottom: 1px solid #009eb4;
}

.detail-book .btn-add {
  text-align: center;
}

.detail-book .btn-add a {
  background-color: #009eb4;
  border-color: #009eb4;
}

.detail-book .btn-add a:hover, .detail-book .btn-add a:active {
  background-color: #a1a1a1 !important;
  border-color: #a1a1a1 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.detail-book .title {
  color: #a1a1a1;
  font-size: 20px;
}

.info {
  color: #009eb4;
}

.quantity span {
  font-size: 20px;
  font-weight: 500;
}

.quantity input {
  width: 100px;
  border: 1px solid #a1a1a1;
}

.quantity input:focus {
  outline: none;
}

.remaining {
  color: #a1a1a1;
}

.book-desc .desc {
  background-color: #0e7490;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
}
/*# sourceMappingURL=detail.css.map */