$primary: #009eb4;
$dark-primary: #0e7490;
$grey: #a1a1a1;
$light-grey: #dfdfdf;

.detail-body {
  min-height: 100vh;
}

.detail-nav {
  a {
    color: $dark-primary;
    &:hover {
      color: $grey;
      transition: all 0.1s;
      text-decoration: none;
    }
  }
}

.detail-book {
  border-bottom: 1px solid $primary;
  .btn-add {
    text-align: center;

    a {
      background-color: $primary;
      border-color: $primary;
      &:hover,
      &:active {
        background-color: $grey !important;
        border-color: $grey !important;
        transition: all 0.3s;
        box-shadow: none !important;
      }
    }
  }
  .title {
    color: $grey;
    font-size: 20px;
  }
}

.info {
  color: $primary;
}
.quantity {
  span {
    font-size: 20px;
    font-weight: 500;
  }
  input {
    width: 100px;
    border: 1px solid $grey;

    &:focus {
      outline: none;
    }
  }
}
.remaining {
  color: $grey;
}

.book-desc {
  .desc {
    background-color: $dark-primary;
    color: #fff;
    width: fit-content;
    font-weight: 600;
  }
}
