footer {
  text-align: center;
  border-top: 1px solid #0e7490;
  padding: 30px 0;
}

.footer-logo,
.footer-media {
  margin: auto;
}

.contact {
  font-weight: 700;
  color: #0e7490;
}
/*# sourceMappingURL=footer.css.map */