$primary: #0e7490;
$grey: #a1a1a1;
$light-grey: #dfdfdf;

footer {
  text-align: center;
  border-top: 1px solid $primary;
  padding: 30px 0;
}

.footer-logo,
.footer-media {
  margin: auto;
}

.contact {
  font-weight: 700;
  color: $primary;
}
