nav {
  border-bottom: 1px solid #0e7490;
}

.category {
  padding-top: 5px;
  padding-left: 20px;
}

.form-search {
  border: 1px solid #0e7490;
  padding: 0 10px 0 5px;
  border-radius: 20px;
}

.form-search select {
  color: #a1a1a1;
  border: none;
  outline: none;
}

.form-search input {
  border: none;
}

.form-search input:focus {
  outline: 0 none !important;
}

.form-search button {
  border: none;
  color: #0e7490;
}

.form-search button:hover {
  background-color: inherit;
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 479px) {
  .form-search {
    border-radius: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form-search {
    border-radius: 0;
  }
}

.cart-btn {
  color: #0e7490;
  border: none;
  margin: 0 20px;
}

.cart-btn:hover {
  background-color: #0e7490;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 479px) {
  .avatar {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .avatar {
    display: none;
  }
}

.signupBtn {
  color: #0e7490;
}
/*# sourceMappingURL=header.css.map */