$primary: #0e7490;
$grey: #a1a1a1;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

nav {
  border-bottom: 1px solid $primary;
}

.category {
  padding-top: 5px;
  padding-left: 20px;
}

.form-search {
  select {
    color: $grey;
    border: none;
    outline: none;
  }
  input {
    border: none;
    &:focus {
      outline: 0 none !important;
    }
  }
  button {
    border: none;
    color: $primary;
    &:hover {
      background-color: inherit;
      color: inherit;
      transition: all 0.3s;
    }
  }
  border: 1px solid $primary;
  padding: 0 10px 0 5px;
  border-radius: 20px;
  @include mobile() {
    border-radius: 0;
  }
  @include tablet() {
    border-radius: 0;
  }
}

.cart-btn {
  color: $primary;
  //   border-color: #009eb4;
  border: none;
  margin: 0 20px;
  &:hover {
    background-color: $primary;
    transition: all 0.3s;
  }
}

.avatar {
  display: flex;
  @include mobile() {
    display: none;
  }
  @include tablet() {
    display: none;
  }
}

.account-responsive#navbarSupportedContent {
  @include desktop() {
    // display: none;
  }
}

.signupBtn {
  color: $primary;
}
