.homepage {
  padding: 10px 0 50px 0;
}

.title {
  font-weight: 700;
  color: #009eb4;
}

.book-item {
  border: none;
  position: relative;
}

.book-item .item-cover-line {
  border: 1px solid #dfdfdf;
  margin: 10px;
}

.book-item .item-cover-line:hover {
  -webkit-box-shadow: 0px 0px 5px #009eb4;
          box-shadow: 0px 0px 5px #009eb4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.book-item .card-body {
  text-align: right;
}

.book-item .card-body h5 {
  color: #009eb4;
}

.book-item .card-body .price {
  color: #ba0000;
  font-weight: 600;
}

.book-item .card-body .sold {
  font-size: 13px;
  color: #a1a1a1;
}

.book-item h5 {
  font-weight: 700;
}

.book-item .book-img .book-category {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #dfdfdf;
  border: 2px solid #009eb4;
  border-radius: 15px;
  padding: 2px 5px;
  font-size: 13px;
  font-weight: 600;
}

.book-item .book-add {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: #a1a1a1;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  padding: 5px 3px;
}

.book-item .book-add:hover {
  color: #009eb4;
  border-color: #009eb4;
  -webkit-box-shadow: 0 0 5px #a1a1a1;
          box-shadow: 0 0 5px #a1a1a1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.book-item a {
  text-decoration: none;
}

.confirm-cart p {
  text-align: center;
}

.confirm-cart .modal-content {
  border: 2px solid #009eb4;
}

.confirm-cart .modal-content .add-btn {
  background-color: #009eb4;
  border-color: #009eb4;
}

.confirm-cart .modal-content .add-btn:hover {
  background-color: #0e7490;
  border-color: #0e7490;
}

.confirm-cart .modal-content button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=home.css.map */