$primary: #009eb4;
$dark-primary: #0e7490;
$grey: #a1a1a1;
$light-grey: #dfdfdf;
$dark-red: #ba0000;

.homepage {
  padding: 10px 0 50px 0;
}

.title {
  font-weight: 700;
  color: $primary;
}

.book-item {
  border: none;
  position: relative;

  .item-cover-line {
    border: 1px solid $light-grey;
    margin: 10px;
    &:hover {
      box-shadow: 0px 0px 5px $primary;
      transition: all 0.3s;
    }
  }

  .card-body {
    text-align: right;
    h5 {
      color: $primary;
    }
    .price {
      color: $dark-red;
      font-weight: 600;
    }
    .sold {
      font-size: 13px;
      color: $grey;
    }
  }
  h5 {
    font-weight: 700;
  }
  .book-img {
    // position: relative;

    .book-category {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: $light-grey;
      border: 2px solid $primary;
      border-radius: 15px;
      padding: 2px 5px;
      font-size: 13px;
      font-weight: 600;
    }
  }

  .book-add {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: $grey;
    border: 2px solid $grey;
    border-radius: 5px;
    padding: 5px 3px;
    &:hover {
      color: $primary;
      border-color: $primary;
      box-shadow: 0 0 5px $grey;
      transition: all 0.3s;
    }
  }

  a {
    text-decoration: none;
  }
}

//-------------modal confirm cart---------------------------
.confirm-cart {
  p {
    text-align: center;
  }
  .modal-content {
    border: 2px solid $primary;
    .add-btn {
      background-color: $primary;
      border-color: $primary;
      &:hover {
        background-color: $dark-primary;
        border-color: $dark-primary;
      }
    }
    button:hover {
      transition: all 0.3s;
    }
  }
}
