.login {
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
  border: 1px solid #0e7490;
  padding: 40px;
}

.login form input {
  border: 1px solid #0e7490;
}

.login form button {
  background-color: #0e7490;
  border-color: #0e7490;
}

.login form button:hover {
  background-color: #0e7490;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=login.css.map */