$primary: #0e7490;
$dark-primary: #0e7490;
$grey: #a1a1a1;
$light-grey: #dfdfdf;

.login {
  min-height: 100vh;
  align-items: center;

  form {
    justify-content: center;
    max-width: 500px;
    // margin: auto;
    border: 1px solid $primary;
    padding: 40px;
    input {
      border: 1px solid $primary;
    }
    button {
      background-color: $primary;
      border-color: $primary;
      &:hover {
        background-color: $dark-primary;
        transition: all 0.3s;
      }
    }
  }
}
