$primary: #009eb4;
$dark-primary: #0e7490;
$grey: #a1a1a1;
$light-grey: #dfdfdf;
$dark-red: #ba0000;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile {
  @media (max-width: #{$mobile -width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.menu-btn {
  border-color: transparent;
  text-align: left;
  //   padding: 10px;
  margin-bottom: 5px;
  @include mobile() {
    text-align: center;
    padding: 0;
  }
  @include desktop() {
    padding: 10px;
  }
  span {
    display: none;
    @include tablet() {
      display: inline;
    }
    @include desktop() {
      display: inline;
    }
  }

  &:hover {
    transition: all 0.3s;
    background-color: $grey;
  }
}
