.menu-btn {
  border-color: transparent;
  text-align: left;
  margin-bottom: 5px;
}

@t @include desktop() {
  .menu-btn {
    padding: 10px;
  }
}

.menu-btn span {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .menu-btn span {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .menu-btn span {
    display: inline;
  }
}

.menu-btn:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #a1a1a1;
}
/*# sourceMappingURL=menu.css.map */