$primary: #009eb4;
$dark-primary: #0e7490;
$grey: #a1a1a1;
$light-grey: #dfdfdf;
$dark-red: #ba0000;

.order {
  a {
    text-decoration: none;
    color: $grey;
  }
  a.back {
    color: $dark-primary;
    &:hover {
      color: $grey;
      transition: all 0.3s;
    }
  }
}
