.order a {
  text-decoration: none;
  color: #a1a1a1;
}

.order a.back {
  color: #0e7490;
}

.order a.back:hover {
  color: #a1a1a1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=order.css.map */