$primary: #009eb4;
$dark-primary: #0e7490;
$grey: #a1a1a1;
$light-grey: #dfdfdf;
$dark-red: #ba0000;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile {
  @media (max-width: #{$mobile -width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.profile {
  .update-btn {
    text-align: right;
    button {
      border-color: $dark-primary;
      color: $dark-primary;
      font-weight: 600;
      &:hover {
        background-color: $dark-primary;
        color: #fff;
        transition: all 0.3s;
      }
    }
  }
}
