.profile .update-btn {
  text-align: right;
}

.profile .update-btn button {
  border-color: #0e7490;
  color: #0e7490;
  font-weight: 600;
}

.profile .update-btn button:hover {
  background-color: #0e7490;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=profile.css.map */