.purchase .confirm-purchase-btn {
  background-color: #009eb4;
  border-color: #009eb4;
  font-weight: 600;
}

.purchase .confirm-purchase-btn:hover {
  background-color: #0e7490;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=purchase.css.map */