$primary: #009eb4;
$dark-primary: #0e7490;
$grey: #a1a1a1;
$light-grey: #dfdfdf;
$dark-red: #ba0000;

.purchase {
  .confirm-purchase-btn {
    background-color: $primary;
    border-color: $primary;
    font-weight: 600;

    &:hover {
      background-color: $dark-primary;
      transition: all 0.3s;
    }
  }
}
