{{#section "css"}}
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

{{/section}}
{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.5/js/locales/vi.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/fileinput.min.js"></script>
<script src="https://cdn.tiny.cloud/1/uv9nci01hx5niurqaw6mllzkhbo7vbmcuaojaphu0bf9h1iy/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
      tinymce.init({
        selector: '#MoTa',
         plugins: 'paste image link autolink lists table media',
      menubar: false,
      toolbar: [' undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright|  table link image media'],
       entity_encoding : "raw",
      });
    </script>
    <script>
$("#fileUpload").fileinput({
  'showUpload':false, 
'previewFileType':'any'
  'theme': "fa",});
    </script>

{{/section}}
 {{#if err}}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">

        {{err}}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}
<div class="profile" style="height: 100%;">
  <h4>Thông tin sách</h4>

  <form class="mt-4" method="post" action="/management/add" enctype="multipart/form-data"/>
     <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Tên sách</label>
      <div class="col-sm-10">
        <input name="TenSach" type="text" class="form-control" id="TenSach"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label" >Thể loại</label>
      <div class="col-sm-10">
        <select name="TheLoai" id="TheLoai" class="form-control">
          {{#each categories}}
              <option value="{{id}}">{{TenTheLoai}} </option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Tác giả</label>
      <div class="col-sm-10">
      <select name="TacGia" id="TacGia" class="form-control">
          {{#each author}}
              <option value="{{id}}">{{TenTacGia}} </option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Nhà xuất bản</label>
      <div class="col-sm-10">
        <select class="form-control" id="NXB" name="NXB">
          {{#each publisher }}
            <option value="{{id}}">{{TenNXB}} </option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Năm xuất bản</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="NamXB" name="NamXB" min="0" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Giá bán</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="GiaSach" name="GiaSach" min="0" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Trọng lượng</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="TrongLuong" name="TrongLuong" min="0" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Kích thước</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="KichThuoc" name="KichThuoc" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Số trang</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="SoTrang" name="SoTrang" min="0" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Số lượng</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="SoLuongTon" name="SoLuongTon" min="0" />
      </div>
    </div>
     <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Hình ảnh</label>
      <div class="col-sm-10">
         <input type="file" id="fileUpload" name="fileUpload" data-browse-on-zone-click="true"  data-allowed-file-extensions='["jpg"]'>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Mô tả</label>
      <div class="col-sm-10">
        <textarea 
          type="text"
          class="form-control mb-3"
          id="MoTa"
          name="MoTa"
          rows=5
          min="0"
        ></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12 update-btn">
        <button type="submit" class="btn btn-outline-primary">THÊM</button>
      </div>
    </div>
  </form>
</div>