{{#section "js"}}
  <script>
    $('#add-btn').on('click', function (e){ const catName = $("#txtCatName").val();
    if (catName !== ""){ alert("Thêm thể loại thành công");
    $("#add-form").submit(); } else { alert("Bạn cần điền tên thể loại"); }} )
  </script>

{{/section}}
<div class="profile" style="height: 100vh;">
  <h4>Thêm thông tin thể loại</h4>

  <form
    class="mt-4"
    id="add-form"
    action="/management/category/add"
    method="post"
  >
    <div class="form-group row">
      <label for="txtCatName" class="col-sm-2 col-form-label">Tên thể loại</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="txtCatName"
          name="catName"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12 update-btn">
        <button
          type="button"
          id="add-btn"
          class="btn btn-outline-primary"
        >THÊM</button>
      </div>
    </div>
  </form>

</div>