{{#section "js"}}
  <script>
    $('#add-btn').on('click', function (e){ const pName = $("#txtPName").val();
    if (pName !== ""){ alert("Thêm nhà xuất bản thành công");
    $("#add-form").submit(); } else { alert("Bạn cần điền tên nhà xuất bản"); }}
    )
  </script>

{{/section}}

<div class="profile" style="height: 100vh;">
  <h4>Thêm thông tin nhà xuất bản</h4>

  <form
    class="mt-4"
    id="add-form"
    action="/management/publisher/add"
    method="post"
  >
    <div class="form-group row">
      <label for="txtPName" class="col-sm-2 col-form-label">Tên nhà xuất bản</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="txtPName" name="TenNXB" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12 update-btn">
        <button
          type="button"
          id="add-btn"
          class="btn btn-outline-primary"
        >THÊM</button>
      </div>
    </div>
  </form>
</div>