{{#section "js"}}
  <script>
    $('#add-btn').on('click', function (e){ const email = $("#txtEmail").val();
    const password = $("#txtPassword").val(); const confirm =
    $("#txtConfirm").val(); const name = $("#txtName").val(); const phone =
    $("#txtPhone").val(); const street = $("#txtStreet").val(); const district =
    $("#txtDistrict").val(); const city = $("#txtCity").val(); if (email !==""
    && password !=="" && confirm !==""&& name !==""&& phone !==""&& street
    !==""&& district !==""&& city !=="" ){ $("#add-form").submit(); } else {
    alert("Bạn cần điền đầy đủ thông tin"); }} )
  </script>

{{/section}}
<div class="profile" style="height: 100vh;">
  <h4>Thêm tài khoản</h4>
  {{#if err_message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Tạo tài khoản thất bại!</strong>
      {{err_message}}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/if}}
  {{#if mess}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{mess}}</strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/if}}
  <form class="mt-4" id="add-form" action="/management/user/add" method="post">
    <div class="form-group row">
      <label for="txtEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          type="email"
          class="form-control"
          id="txtEmail"
          name="Email"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="txtPassword" class="col-sm-2 col-form-label">Mật khẩu</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="txtPassword"
          name="password"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="txtConfirm" class="col-sm-2 col-form-label">Xác nhận mật khẩu</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="txtConfirm"
          name="confirm"
          required
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Loại tài khoản</label>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="Loai"
            id="gridRadios1"
            value="user"
            checked
          />
          <label class="form-check-label" for="gridRadios1">
            Khách hàng
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="Loai"
            id="gridRadios2"
            value="staff"
          />
          <label class="form-check-label" for="gridRadios2">
            Nhân viên
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="Loai"
            id="gridRadios3"
            value="admin"
          />
          <label class="form-check-label" for="gridRadios3">
            Admin
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="txtName" class="col-sm-2 col-form-label">Họ tên</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="txtName"
          name="HoTen"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="txtPhone" class="col-sm-2 col-form-label">Số điện thoại</label>
      <div class="col-sm-10">
        <input
          type="phone"
          class="form-control"
          id="txtPhone"
          name="SDT"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Địa chỉ</label>
      <div class="col-sm-10 form-row">
        <div class="col-sm-3 mb-1">
          <input
            type="text"
            class="form-control"
            placeholder="Tỉnh/Thành phố"
            name="city"
            id="txtCity"
            required
          />
        </div>
        <div class="col-sm-3 mb-1">
          <input
            type="text"
            class="form-control"
            placeholder="Quận/Huyện"
            id="txtDistrict"
            name="district"
            required
          />
        </div>
        <div class="col mb-1">
          <input
            type="text"
            class="form-control"
            placeholder="Số nhà"
            name="street"
            id="txtStreet"
            required
          />
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12 update-btn">
        <button
          id="add-btn"
          type="button"
          class="btn btn-outline-primary"
        >THÊM</button>
      </div>
    </div>
  </form>
</div>