{{#section "js"}}
  {{! xóa danh mục  }}
 <script>
    $('#btnDel').on('click', function (e){
      const bookId = $(this).data('id');
     alert(`Đã xóa sản phẩm ${bookId}`);
    $("#id").val(bookId); $("#frmDelBook").submit(); } )
  </script>

{{/section}}

<section class="cart container history" style="height:100vh">
  <div class="d-flex justify-content-between mb-3">
    <h4>Quản lý sách</h4>

    <a
      name=""
      id=""
      class="btn btn-outline-success"
      href="management/add"
      role="button"
    >THÊM MỚI</a>
  </div>
  {{! 1 item }}
  <div class="table-responsive">
    <table class="table table-management" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">Mã sách</th>
          <th scope="col">Tên sách</th>
          <th scope="col">Tác giả</th>
          <th scope="col">Thể loại</th>
          <th scope="col">Nhà xuất bản</th>
          <th scope="col">Năm xuất bản</th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Người chỉnh sửa cuối</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      
          {{#each this.books }}
             <tr>
          <th scope="row">{{id}}</th>
          <td>{{TenSach}}</td>
          <td>{{TenTacGia}}</td>
          <td>{{TenTheLoai}}</td>
          <td>{{TenNXB}}</td>
          <td>{{NamXB}}</td>
          <td>{{format_price GiaSach}}VNĐ</td>
          <td>{{Editor}}</td>
          <td style="justify-content: right" class="d-flex"><a
              name=""
              id=""
              class="btn btn-outline-warning mx-1"
              href="/management/edit/{{id}}"
              role="button"
            ><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a
              name=""
              id="btnDel"
              data-id="{{id}}"
              class="btn btn-outline-danger"
              href="#"
              role="button"
              {{!-- data-toggle="modal"
              data-target="#deleteModal" --}}
            ><i class="fa fa-trash" aria-hidden="true"></i></a>
              <form
                action="/management/delete"
                method="post"
                id="frmDelBook"
                class="del-form"
              ><input type="text" class="" name="id" value="{{id}}" hidden/>
              </form>
          </td>
        </tr>
          {{/each}}
         
      </tbody>
    </table>

    {{! pagination  }}
    <nav class="pagination-nav" aria-label="...">
      <ul class="pagination pagination-sm">
         {{#each this.pageNumbers }}
            {{#if isCurrent}}
              <li class="page-item active"><a class="page-link " href="javascrip:;">{{value}}</a></li>
            {{else}}
              <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
            {{/if}}
          {{/each}}
      </ul>
    </nav>

  </div>

</section>

<!-- Modal -->
<div
  class="modal fade confirm-cart"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa sản phẩm?</p>

      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
        <button type="button" class="btn btn-primary add-btn">Xóa</button>
      </div>
    </div>
  </div>
</div>