{{#section "js"}}
  {{! xóa danh mục  }}
  <script>
    $('.paidBtn').on('click', function (e){ const id = $(this).data('id');
    $('.confirm-btn').on('click', function(e){ $('#txtID').val(id);
    $('#frmPaid').submit(); }); })
  </script>

{{/section}}

<section class="cart container history" style="height:100vh">
  <div class="d-flex justify-content-between mb-3">
    <h4>Thống kê đơn đặt hàng</h4>
    <form action="/management/order" method="POST">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <select
            class="custom-select"
            id="validationDefault04"
            name="month"
            required
          >
            <option value="0" selected>Tất cả</option>
            <option value="1">Tháng 1</option>
            <option value="2">Tháng 2</option>
            <option value="3">Tháng 3</option>
            <option value="4">Tháng 4</option>
            <option value="5">Tháng 5</option>
            <option value="6">Tháng 6</option>
            <option value="7">Tháng 7</option>
            <option value="8">Tháng 8</option>
            <option value="9">Tháng 9</option>
            <option value="10">Tháng 10</option>
            <option value="11">Tháng 11</option>
            <option value="12">Tháng 12</option>
          </select>
        </div>
        <div class="col-md-3 mb-3">
          <input
            type="number"
            class="form-control"
            id="validationDefault05"
            value="{{year}}"
            name="year"
            required
          />
        </div>
        <div class="col-md-3 mb-3">
          <button class="btn btn-primary" type="submit"><i
              class="fa fa-search"
              aria-hidden="true"
            ></i></button>
        </div>
      </div>
    </form>

  </div>

  {{! 1 item }}

  <div class="table-responsive">

    <table class="table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">Mã đơn</th>
          <th scope="col">Khách hàng</th>
          <th scope="col">Ngày đặt</th>
          <th scope="col">Tổng tiền</th>
          <th scope="col">Thanh toán</th>
          <th scope="col">Tình trạng</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <form action="/management/order/update" method="post" id="frmPaid">
          <input type="hidden" name="id" id="txtID" />
        </form>
        {{#each this.list}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{HoTen}}</td>
            <td>{{formatTime ThoiDiemDatHang "DD/MM/YYYY"}}</td>
            <td>{{format_price TongTien}} VNĐ</td>
            <td>{{Ten}}</td>
            <td>{{displayStatus TinhTrang}}</td>
            <td>
              {{#if (isPaid TinhTrang)}}{{else}}
                <a
                  name=""
                  data-id="{{id}}"
                  class="btn btn-outline-success paidBtn"
                  href="#"
                  role="button"
                  data-toggle="modal"
                  data-target="#paidModal"
                >
                  Thanh toán
                </a>
              {{/if}}
            </td>
            <td><a
              name=""
              id=""
              class="btn btn-outline-primary"
              href="/order/{{id}}"
              role="button"
            ><i class="fa fa-eye" aria-hidden="true"></i></a></td>
          </tr>

        {{/each}}
      </tbody>
    </table>

    <div>Thu vào: {{format_price this.total}} VNĐ</div>
  </div>

</section>

<!-- Modal -->
<div
  class="modal fade confirm-cart"
  id="paidModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>Xác nhận đã thanh toán hóa đơn này?</p>

      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          data-id="{{id}}"
        >Hủy</button>
        <button type="button" class="btn btn-success confirm-btn">Đồng ý</button>
      </div>
    </div>
  </div>
</div>