{{#section "js"}}
  {{! xóa nhà xuất bản  }}
  <script>
    $('.delPBtn').on('click', function (e){ const pID = $(this).data('id');
    $.getJSON(`/management/publisher/has-products/${pID}`,function(data){ if
    (data===false){ alert('Danh mục tồn tại sản phẩm! Không thể xóa!'); return;
    } else { alert(`Đã xóa danh mục ${pID}`); $(".txtPName").val(pID);
    $("#frmDelPublisher").submit() } } )})
  </script>

{{/section}}
<section class="cart container history" style="height:100vh">
  <div class="d-flex justify-content-between mb-3">
    <h4>Quản lý nhà xuất bản</h4>

    <a
      name=""
      id=""
      class="btn btn-outline-success"
      href="/management/publisher/add"
      role="button"
    >THÊM MỚI</a>
  </div>

  {{! 1 item }}
  <div class="table-responsive">

    <table class="table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">Mã NXB</th>
          <th scope="col">Tên NXB</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each publisherList}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{TenNXB}}</td>
            <td style="justify-content: right" class="d-flex"><a
                name=""
                id=""
                class="btn btn-outline-warning mx-1"
                href="/management/publisher/edit/{{id}}"
                role="button"
              ><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a
                class="btn btn-outline-danger delPBtn"
                href="#"
                data-id="{{id}}"
                role="button"
                {{! data-toggle="modal"
                data-target="#deleteModal" }}
              ><i class="fa fa-trash" aria-hidden="true"></i></a>
              <form
                action="/management/publisher/delete"
                method="post"
                id="frmDelPublisher"
                class="del-form"
              ><input type="text" class="txtPName" name="id" hidden />
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{! pagination  }}
    {{! <nav class="pagination-nav" aria-label="...">
      <ul class="pagination pagination-sm">
        <li class="page-item active" aria-current="page">
          <span class="page-link">1</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </nav> }}
  </div>

</section>

<!-- Modal -->
{{! <div
  class="modal fade confirm-cart"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa nhà xuất bản này?</p>

      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
        <button type="button" class="btn btn-primary add-btn">Xóa</button>
      </div>
    </div>
  </div>
</div> }}