{{#section "js"}}
  {{! xóa danh mục  }}
  <script>
    $('.delCatBtn').on('click', function (e){ const catID = $(this).data('id');
    $.getJSON(`/management/category/has-products/${catID}`,function(data){ if
    (data===false){ alert('Danh mục tồn tại sản phẩm! Không thể xóa!'); return;
    } else { alert(`Đã xóa danh mục ${catID}`); $(".txtCatName").val(catID);
    $("#frmDelCate").submit() } } )})
  </script>

{{/section}}

<section class="cart container history" style="height:100vh">
  <div class="d-flex justify-content-between mb-3">
    <h4>Thống kê kho sách</h4>

    {{! <a
      name=""
      id=""
      class="btn btn-outline-success"
      href="/management/category/add"
      role="button"
    >THÊM MỚI</a> }}
    <form action="/management/statistic" method="POST">

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <select
            class="custom-select"
            id="validationDefault04"
            name="month"
            required
          >
            <option value="0" selected>Tất cả</option>
            <option value="1">Tháng 1</option>
            <option value="2">Tháng 2</option>
            <option value="3">Tháng 3</option>
            <option value="4">Tháng 4</option>
            <option value="5">Tháng 5</option>
            <option value="6">Tháng 6</option>
            <option value="7">Tháng 7</option>
            <option value="8">Tháng 8</option>
            <option value="9">Tháng 9</option>
            <option value="10">Tháng 10</option>
            <option value="11">Tháng 11</option>
            <option value="12">Tháng 12</option>
          </select>
        </div>
        <div class="col-md-3 mb-3">
          <input
            type="number"
            class="form-control"
            id="validationDefault05"
            value="{{year}}"
            name="year"
            required
          />
        </div>
        <div class="col-md-3 mb-3">
          {{! <a
            name=""
            id=""
            class="btn btn-outline-primary"
            href="/management/statistic/month"
            role="button"
          ><i class="fa fa-search" aria-hidden="true"></i></a> }}
          <button class="btn btn-primary" type="submit"><i
              class="fa fa-search"
              aria-hidden="true"
            ></i></button>
        </div>
      </div>
    </form>

  </div>

  {{! 1 item }}

  <div class="table-responsive">

    <table class="table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">Mã sách</th>
          <th scope="col">Tên sách</th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Số lượng bán</th>
          <th scope="col">Tổng tiền</th>
          <th scope="col">Số lượng tồn</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.list}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{TenSach}}</td>
            <td>{{GiaSach}}</td>
            <td>{{SoLuongBan}}</td>
            <td>{{format_price TongTien}} VNĐ</td>
            <td>{{SoLuongTon}}</td>
          </tr>

        {{/each}}
      </tbody>
    </table>

    <div>Thu vào: {{format_price this.total}} VNĐ</div>
  </div>

</section>