{{#section "js"}}
  {{! block người dùng  }}
  <script>
    $('.delUserBtn').on('click', function (e){ const id = $(this).data('id');
    alert(`Đã khóa tài khoản ${id}`); $(".txtUserId").val(id);
    $("#frmDelUser").submit()})
  </script>

  {{! unblock người dùng  }}
  <script>
    $('.unblockUserBtn').on('click', function (e){ const id =
    $(this).data('id'); alert(`Đã mở lại tài khoản ${id}`);
    $(".txtUserId").val(id); $("#frmUnblockUser").submit()})
  </script>

{{/section}}
<section class="cart container history" style="height:100vh">
  <div class="d-flex justify-content-between mb-3">
    <h4>Quản lý tài khoản</h4>

    <a
      name=""
      id=""
      class="btn btn-outline-success"
      href="/management/user/add"
      role="button"
    >THÊM MỚI</a>
  </div>

  {{! 1 item }}
  <div class="table-responsive">
    <table class="table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Họ tên</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Loại tài khoản</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each userList}}

          <tr>
            <th scope="row">{{Email}}</th>
            <td>{{HoTen}}</td>
            <td>{{DiaChi}}</td>
            <td>{{SDT}}</td>
            <td>{{displayRole Loai}}</td>
            {{#if (checkAuth ../authUser.id id)}}
              <td style="justify-content: right" class="d-flex">
                {{#if HoatDong}}
                  <a
                  name=""
                  id=""
                  class="btn btn-outline-warning mx-1"
                  href="/management/user/edit/{{id}}"
                  role="button"
                ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                  <a
                    class="btn btn-outline-danger delUserBtn"
                    href="#"
                    data-id="{{id}}"
                    role="button"
                  ><i class="fa fa-trash" aria-hidden="true"></i></a>
                  <form
                    action="/management/user/delete"
                    method="post"
                    id="frmDelUser"
                    class="del-form"
                  ><input type="text" class="txtUserId" name="id" hidden />
                  </form>
                {{else}}
                  <a
                    class="btn btn-outline-success unblockUserBtn"
                    href="#"
                    data-id="{{id}}"
                    role="button"
                  ><i class="fa fa-unlock" aria-hidden="true"></i></a>
                  <form
                    action="/management/user/unblock"
                    method="post"
                    id="frmUnblockUser"
                    class="del-form"
                  ><input type="text" class="txtUserId" name="id" hidden />
                  </form>
                {{/if}}

              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{! pagination  }}
    {{! <nav class="pagination-nav" aria-label="...">
      <ul class="pagination pagination-sm">
        <li class="page-item active" aria-current="page">
          <span class="page-link">1</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </nav> }}
  </div>

</section>

<!-- Modal -->
{{! <div
  class="modal fade confirm-cart"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa tài khoản này?</p>

      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
        <button type="button" class="btn btn-primary add-btn">Xóa</button>
      </div>
    </div>
  </div>
</div> }}