{{#section "js"}}
  <script>
    $('#edit-btn').on('click', function (e){ alert("Cập nhật thể loại thành công"); $("#edit-form").submit(); } )
  </script>

{{/section}}

<div class="profile" style="height: 100vh;">
  <h4>Chỉnh sửa thông tin thể loại</h4>

  <form
    id="edit-form"
    class="mt-4"
    action="/management/category/edit/{{catInfo.id}}"
    method="post"
  >
    <div class="form-group row">
      <input
        type="text"
        class="form-control"
        id="txtCatId"
        value="{{catInfo.id}}"
        name="id"
        hidden
      />
      <label for="txtCatName" class="col-sm-2 col-form-label">Tên thể loại</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="txtCatName"
          value="{{catInfo.TenTheLoai}}"
          name="TenTheLoai"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12 update-btn">
        <button
          type="button"
          id="edit-btn"
          class="btn btn-outline-primary"
        >CHỈNH SỬA</button>
      </div>
    </div>
  </form>

</div>