{{#section "js"}}
  <script>
    $('#edit-btn').on('click', function (e){ alert("Cập nhật nhà xuất bản thành công"); $("#edit-form").submit(); } )
  </script>

{{/section}}
<div class="profile" style="height: 100vh;">
  <h4>Chỉnh sửa thông tin nhà xuất bản</h4>

  <form
    class="mt-4"
    id="edit-form"
    action="/management/publisher/edit/{{publisherInfo.id}}"
    method="post"
  >
    <input
      type="text"
      class="form-control"
      id="txtPublisherId"
      value="{{publisherInfo.id}}"
      name="id"
      hidden
    />
    <div class="form-group row">
      <label for="txtPublisher" class="col-sm-2 col-form-label">Tên nhà xuất bản</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="txtPublisher"
          value="{{publisherInfo.TenNXB}}"
          name="TenNXB"
          required
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12 update-btn">
        <button id="edit-btn" type="button" class="btn btn-outline-primary">CẬP
          NHẬT</button>
      </div>
    </div>
  </form>
</div>