{{#section "js"}}
  <script>
    $('#edit-btn').on('click', function (e){ alert("Cập nhật thông tin tài khoản thành công");
     $("#edit-form").submit(); } )
  </script>

{{/section}}
<div class="profile" style="height: 100vh;">
  <h4>Thông tin cá nhân</h4>

  <form
    class="mt-4"
    id="edit-form"
    action="/management/user/edit/{{userInfo.id}}"
    method="post"
  >
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          type="email"
          class="form-control"
          id="inputEmail3"
          value="{{userInfo.Email}}"
          name="Email"
          disabled
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="validationCustom04" class="col-sm-2 col-form-label">Loại tài khoản</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="txtType"
          name="Loai"
          value="{{userInfo.Loai}}"
          disabled
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Họ tên</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputPassword3"
          value="{{userInfo.HoTen}}"
          name="HoTen"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Số điện thoại</label>
      <div class="col-sm-10">
        <input
          type="phone"
          class="form-control"
          id="inputPassword3"
          value="{{userInfo.SDT}}"
          name="SDT"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Địa chỉ</label>
      <div class="col-sm-10">
        <input
          type="text"
          name="DiaChi"
          class="form-control"
          placeholder="Địa chỉ"
          value="{{userInfo.DiaChi}}"
          name="DiaChi"
          required
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12 update-btn">
        <button type="button" class="btn btn-outline-primary" id="edit-btn">CẬP
          NHẬT</button>
      </div>
    </div>
  </form>
</div>